# Local
.DS_Store
*.local
*.log*

# Dist
node_modules
*/node_modules
dist/
conf/
files/
# Profile
.rspack-profile-*/
pg_data/
# IDE
.vscode/*
!.vscode/extensions.json
.idea

*storybook.log
storybook-static
.env
*.xlsx
.venv
uv.lock
