services:
  frontend:
    image: app
    container_name: staffreview-frontend
    environment:
      - GEL_DSN=gel://admin:geldata@gel:5656
    volumes:
      - ./frontend:/usr/src/app
    networks:
      - internal

  api:
    image: app
    container_name: staffreview-api
    environment:
      - GEL_DSN=gel://admin:geldata@gel:5656
    volumes:
      - ./server:/usr/src/app
    networks:
      - internal

  gel:
    image: geldata/gel
    environment:
      GEL_SERVER_SECURITY: strict
      GEL_SERVER_PASSWORD: ${GEL_PASSWORD:-geldata}
    volumes:
      - gel-data:/var/lib/gel/data
      - "./dbschema:/dbschema"
    ports:
      - "5656:5656"
    networks:
      - internal
    restart: unless-stopped
volumes:
  gel-data:
networks:
  internal:
    driver: bridge
