services:
  frontend:
    image: app
    container_name: app
    environment:
      - GEL_DSN=gel://admin:geldata@gel:5656
    volumes:
      - .:/usr/src/app
    networks:
      - internal

  api:
    image: app
    container_name: app
    environment:
      - GEL_DSN=gel://admin:geldata@gel:5656
    volumes:
      - .:/usr/src/app
    networks:
      - internal

  gel:
    image: geldata/gel
    environment:
      GEL_SERVER_SECURITY: insecure_dev_mode
      GEL_SERVER_PASSWORD: geldata
    volumes:
      - gel-data:/var/lib/gel/data
      - "./dbschema:/dbschema"
    ports:
      - "5656:5656"
    networks:
      - internal
volumes:
  gel-data:
networks:
  internal:
    driver: bridge
